/*font-family: 'Nunito', sans-serif;
font-family: 'Lora', serif;*/

:root {
  --primary-color: #f7f2ee;
  --secondary-color: hsla(11, 16%, 43%, 0.984);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Lora", serif;
  --default-font-family: "Nunito", sans-serif;
  --hover-color: hsla(12, 16%, 43%, 0.504);
}

body html {
  max-width: 800px;
  margin-bottom: 30px;
}

h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
  color: var(--secondary-color);
}

h2 {
  font-size: 48px;
  font-family: var(--heading-font-family);
  font-weight: medium;
  color: var(--secondary-color);
  line-height: 1.7;
}
h3 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: medium;
  color: var(--secondary-color);
}

p {
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  font-family: var(--default-font-family);
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.banner {
  background: var(--primary-color);
  padding: 130px 70px 60px 70px;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.navbar {
  background: var(--primary-color);
}
.navbar-brand,
.nav-link {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-size: 18px;
}

.navbar-brand:hover {
  color: var(--hover-color);
}

.nav-link:hover {
  color: var(--hover-color);
}

.on-page {
  color: var(--secondary-color) !important;
  font-weight: 700;
}

.btn-contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  padding: 15px 30px !important;
  font-size: 18px;
}
.btn-contact-link:hover {
  background-color: white;
  color: var(--secondary-color);
}

.homepage-link {
  color: var(--secondary-color);
  text-align: center;
  display: block;
}
.content-container {
  padding: 100px 20px;
}
.content-container-index {
  padding: 50px 20px;
}
.content {
  margin: 10px 30px;
}
.content h1 {
  font-size: 70px;
  line-height: 80px;
}
.content h2 {
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}
.content h3 {
  font-size: 18px;
  font-family: var(--default-font-family);
  margin-bottom: 0;
  line-height: 1.7;
}
.content img {
  max-width: 80%;
}
.projects-language {
  font-size: 14px;
}

.headshot {
  max-width: 80%;
  margin: 40px 0;
}

.btn-primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
}
.btn-primary-link:hover {
  color: var(--secondary-color);
}
.project-description {
  margin: 20px 30px;
}
.tango-image {
  padding: 10px;
  border: 5px solid var(--primary-color);
}
.weather-image {
  padding: 28px 30px;
  border: 5px solid var(--primary-color);
}
.certificate-image {
  padding: 58px 20px;
  border: 5px solid var(--primary-color);
}
.about-paragraph {
  margin-top: 190px;
}
.certificate-section {
  margin: 120px 0 40px 0;
}
.certificate-heading h2 {
  font-size: 48px;
}
.cert {
  max-width: 100%;
}

footer .contact-box {
  background: var(--primary-color);
  padding: 20px 120px;
  border-radius: 10px;
  margin: 100px 0;
}
footer .btn-contact-box {
  background: white;
  border-radius: 4px;
  padding: 15px 40px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  margin-top: 20px;
  font-size: 16px;
  font-family: var(--default-font-family);
}
footer .btn-contact-box:hover {
  color: var(--secondary-color);
}

footer .email-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  font-size: 20px;
}

footer .email-link:hover {
  color: hsla(12, 16%, 43%, 0.504);
}

.social-link a {
  color: var(--secondary-color);
  padding: 22px 14px 12px 14px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.social-link a:hover {
  color: white;
  background: var(--secondary-color);
}

.contact-me {
  text-align: center;
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bold;
  color: var(--secondary-color);
}
.signature {
  text-align: center;
  margin-top: 90px;
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  font-size: 14px;
}

.signature a {
  color: var(--secondary-color);
  font-weight: bold;
}

@media (max-width: 780px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 40px;
    text-align: center;
  }
  h3 {
    margin-top: 10px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .certificate-heading h2 {
    font-size: 40px;
  }
  .certificate-section {
    margin: 40px 0;
  }
  .btn {
    margin-bottom: 50px;
  }

  .paragraph-link {
    text-align: center;
  }
  .content-container {
    padding: 30px 20px;
  }

  .content-container h1 {
    font-size: 55px;
    text-align: center;
  }
  .content-container h3 {
    text-align: center;
  }
  .contact-me {
    font-size: 30px;
  }
  .email-link {
    font-size: 18px;
  }
  .project-description {
    margin: 0;
  }
  .headshot {
    margin: 0 auto;
  }
  .about-paragraph {
    margin-top: 30px;
  }
  .cert {
    margin-top: 0;
  }
}
@media (max-width: 415px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
  }
  h3 {
    font-size: 18px;
  }

  p {
    text-align: center;
    line-height: 1.7;
    font-size: 18px;
  }
  .certificate-heading {
    font-size: 42px;
    margin-bottom: 0;
  }

  .paragraph-link {
    text-align: center;
  }
  .contact-me {
    font-size: 22px;
  }
  .email-link {
    font-size: 16px;
  }
  .btn-contact-link {
    font-size: 13px;
  }
  .btn {
    margin-bottom: 50px;
  }
  .project-description {
    margin: 0px;
  }
  .content-container {
    padding: 30px 20px;
  }
  .content-container h1 {
    font-size: 40px;
    text-align: center;
  }
  .content-container h2 {
    text-align: center;
  }
  .content h2 {
    font-size: 15px;
  }
  .content-container-index {
    padding: 0 20px 30px 20px;
  }
  .signature {
    text-align: center;
    margin-top: 80px;
    color: var(--secondary-color);
    font-family: var(--default-font-family);
    font-size: 12px;
  }
}
